# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
solar_env/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Logs and output
*.log
*.csv
*.sqlite3
outputs/
*.geojson

# VSCode
.vscode/



